@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

body {
    min-height: auto;
}

.jumbotron {
    padding-top: 6rem;
    width: 100%;
    height: 100vh;
    padding-bottom: 3em;
}

.home {
    width: 100%;
    display: flex;
}

.right {
    width: 60%;
    margin-top: 100px;
}

.left {
    width: 40%;
    margin-top: 100px;
    padding: 20px 0 20px 0;
}

.lead-2 {
    padding-bottom: 100px;
    font-family: sans-serif;
}

.socmed {
    font-size: 20px;
    font-family: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
    margin: 25px 0 0 0;
}

.display-4 {
    font-size: 45px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#about {
    width: 100%;
}

#portfolio {
    background-color: #273036;
    height: auto;
    padding: 50px 0px 50px 0px;
}

#certificate {
    background-color: #273036;
}

section {
    padding-top: 5rem;
}

.bg {
    background-color: #fff;
}

.instagram,
.twitter,
.facebook,
.envelope,
.whatsapp,
.linkedin {
    color: #273036;
}

.instagram2,
.github,
.linkedin2 {
    color: rgb(128, 125, 125);
}

.instagram2:hover,
.github:hover,
.linkedin2:hover {
    color: #fff;
    transition: 0.3s;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid white;
    border-top-color: #273036;
    border-bottom-color: #273036;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron {
        height: auto;
    }
}

@media only screen and (max-width: 1366px) {
    .jumbotron {
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        height: auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .home {
        display: block;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .left,
    .right {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .left img {
        width: 200px;
    }
    .display-4 {
        font-size: 25px;
        text-align: center;
    }
    .socmed {
        font-size: 15px;
    }
    .lead {
        font-size: 18px;
        text-align: center;
        padding-bottom: 10px;
    }
    .lead-2 {
        font-size: 12px;
        text-align: left;
        padding-bottom: 10px;
    }
    .btn-download {
        margin: auto;
        text-align: center;
        padding-bottom: 80px;
    }
    .bg2 {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .bio,
    .d-block {
        font-size: 13px;
    }
    .profile {
        width: 400px;
    }
    #about {
        width: auto;
        height: auto;
        padding-bottom: 50px;
    }
    #skill,
    .skill-set {
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #certificate {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    #portfolio {
        background-color: #273036;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .portfolio-box {
        position: relative;
        background-color: rgb(64, 64, 73);
        border-radius: 10px;
        width: auto;
        height: 400px;
        transform-style: preserve-3d;
    }
    .portfolio-box::before {
        content: "MY";
        position: absolute;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: 0.5s;
    }
    .portfolio-box:hover::before {
        opacity: 0.2;
    }
    .portfolio-box::after {
        content: "KEYBOARD";
        position: absolute;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
        top: 300px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: 0.5s;
    }
    .portfolio-box:hover::after {
        opacity: 0.2;
    }
    .portfolio-name {
        width: auto;
        position: absolute;
        top: 0;
        color: #fff;
        text-align: center;
        font-size: 1em;
        opacity: 0;
        transition: 0.5s;
        transform: translate3d(0, 0, 10px);
    }
    .portfolio-box:hover .portfolio-name {
        top: 20px;
        opacity: 1;
    }
    .portfolio-detail-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 20px);
        opacity: 0;
        transition: 0.5s;
        z-index: 3;
    }
    .portfolio-box:hover .portfolio-detail-button {
        opacity: 1;
        bottom: 20px;
    }
    .keyboard-img {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate3d(-50%, -52%, 15px);
        width: 200px;
        transition: 0.5s;
    }
    .portfolio-box:hover .keyboard-img {
        transform: translate3d(-50%, -52%, 40px) rotate(10deg) scale(1.2);
    }
}

#skill,
.skill-set {
    width: 100%;
    margin: 0 auto;
}

@keyframes load {
    from {
        width: 0%;
    }
}

@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}

@-o-keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    background-color: #eee;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #f06529;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.front::before {
    background-color: #7a3164;
}

.bar.front2::before {
    background-color: #1ab13a;
}

.bar.front3::before {
    background-color: #3c327b;
}

.bar.front4::before {
    background-color: #00a1f1;
}

.bar.front5::before {
    background-color: #1d6f42;
}

.bar.front6::before {
    background-color: #d04423;
}

.bar.back::before {
    background-color: #a6cfe3;
}

.bar.back2::before {
    background-color: #f0db4f;
}

.bar.one::before {
    width: calc(80% - 10px);
}

.bar.two::before {
    width: calc(70% - 10px);
}

.bar.three::before {
    width: calc(55% - 10px);
}

.bar.four::before {
    width: calc(70% - 10px);
}

.bar.five::before {
    width: calc(80% - 10px);
}

.bar.six::before {
    width: calc(60% - 10px);
}

.bar.seven::before {
    width: calc(75% - 10px);
}

.bar.eight::before {
    width: calc(60% - 10px);
}

.bar.nine::before {
    width: calc(50% - 10px);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(31, 29, 29);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(92, 86, 86);
    transition: 0.3s;
}

.portfolio-box {
    position: relative;
    background-color: rgb(64, 64, 73);
    border-radius: 10px;
    height: 400px;
    transform-style: preserve-3d;
    overflow: hidden;
}

.portfolio-box::before {
    content: "MY";
    position: absolute;
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.portfolio-box:hover::before {
    opacity: 0.2;
}

.portfolio-box::after {
    content: "KEYBOARD";
    position: absolute;
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    font-style: italic;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.portfolio-box:hover::after {
    opacity: 0.2;
}

.portfolio-name {
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transition: 0.5s;
    transform: translate3d(0, 0, 50px);
}

.portfolio-box:hover .portfolio-name {
    top: 20px;
    opacity: 1;
}

.portfolio-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
}

.portfolio-box:hover .portfolio-detail-button {
    opacity: 1;
    bottom: 20px;
}

.keyboard-img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate3d(-50%, -52%, 80px);
    max-width: 350px;
    transition: 0.5s;
}

.portfolio-box:hover .keyboard-img {
    transform: translate3d(-50%, -52%, 100px) rotate(10deg) scale(1.2);
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(31, 29, 29);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 86, 86);
}

.timeline-edu {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-edu::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #273036;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #273036;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left-timeline {
    left: 0;
}

.right-timeline {
    left: 50%;
}

.left-timeline::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right-timeline::after {
    left: -13px;
}

.content-edu {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    border-radius: 6px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .timeline-edu::after {
        left: 31px;
    }
    .container-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left-timeline::after,
    .right-timeline::after {
        left: 17px;
    }
    .right-timeline {
        left: 0%;
    }
}