@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    min-height: auto;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #273036;
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    height: 100vh;
}

#certificate {
    background-color: #273036;
}

section {
    padding-top: 5rem;
}

.bg {
    background-color: #273036;
}

.instagram,
.twitter,
.facebook,
.envelope,
.whatsapp,
.linkedin {
    color: #273036;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid white;
    border-top-color: #273036;
    border-bottom-color: #273036;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}