@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body {
    min-height: auto;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #273036;
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    height: 100vh;
}

#certificate {
    background-color: #273036;
}

section {
    padding-top: 5rem;
}

.bg {
    background-color: #273036;
}

.instagram,
.twitter,
.facebook,
.envelope,
.whatsapp,
.linkedin {
    color: #273036;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid white;
    border-top-color: #273036;
    border-bottom-color: #273036;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 25px;
    }
    .bio,
    .d-block {
        font-size: 15px;
    }
    .profile {
        width: 300px;
    }
    #about {
        width: auto;
        height: auto;
        padding-bottom: 50px;
    }
    #skill,
    .skill-set {
        width: 100%;
        margin: 0 auto;
    }
}

#skill,
.skill-set {
    width: 100%;
    margin: 0 auto;
}

@keyframes load {
    from {
        width: 0%;
    }
}

@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}

@-o-keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    background-color: #eee;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #f06529;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.front::before {
    background-color: #7a3164;
}

.bar.front2::before {
    background-color: #1ab13a;
}

.bar.front3::before {
    background-color: #3c327b;
}

.bar.front4::before {
    background-color: #00a1f1;
}

.bar.front5::before {
    background-color: #1d6f42;
}

.bar.front6::before {
    background-color: #d04423;
}

.bar.back::before {
    background-color: #a6cfe3;
}

.bar.back2::before {
    background-color: #f0db4f;
}

.bar.one::before {
    width: calc(80% - 10px);
}

.bar.two::before {
    width: calc(70% - 10px);
}

.bar.three::before {
    width: calc(55% - 10px);
}

.bar.four::before {
    width: calc(70% - 10px);
}

.bar.five::before {
    width: calc(80% - 10px);
}

.bar.six::before {
    width: calc(60% - 10px);
}

.bar.seven::before {
    width: calc(75% - 10px);
}

.bar.eight::before {
    width: calc(60% - 10px);
}

.bar.nine::before {
    width: calc(50% - 10px);
}